<div class="diag-boxes">
  <a class="diag-box" href="#diagnostics/filter-sets/1">
    <img class="diag-box-image" src="/app/diagnostics/assets/filterSet.png" alt="">
    <span class="diag-box-label"><%- t('diagnostics', 'FILTER_SETS_LABEL', {id: 1}) %></span>
  </a>
  <a class="diag-box" href="#diagnostics/filter-sets/2">
    <img class="diag-box-image" src="/app/diagnostics/assets/filterSet.png" alt="">
    <span class="diag-box-label"><%- t('diagnostics', 'FILTER_SETS_LABEL', {id: 2}) %></span>
  </a>
</div>
