<div class="diag-boxes">
  <a class="diag-box" href="#diagnostics/input-pumps/1">
    <img class="diag-box-image" src="/app/diagnostics/assets/inputPump.png" alt="">
    <span class="diag-box-label"><%- t('diagnostics', 'INPUT_PUMPS_LABEL', {id: 1}) %></span>
  </a>
  <a class="diag-box" href="#diagnostics/input-pumps/2">
    <img class="diag-box-image" src="/app/diagnostics/assets/inputPump.png" alt="">
    <span class="diag-box-label"><%- t('diagnostics', 'INPUT_PUMPS_LABEL', {id: 2}) %></span>
  </a>
</div>
