<tr data-id="<%- id %>">
  <td><%- master %></td>
  <td><%- unit %></td>
  <td><%- no %></td>
  <td><i class="icon-spinner icon-spin"></i></td>
  <td>?</td>
  <td>?</td>
  <td>?</td>
  <td>?</td>
  <td>?</td>
  <td class="actions">
    <button name="read" class="btn action-read-param"><i class="icon-refresh"></i></button>
    <button name="remove" class="btn action-remove-param"><i class="icon-remove"></i></button>
  </td>
</tr>
