<div class="alarms-form-action-controls">
  <div class="btn-group btn-group-vertical">
    <button class="btn btn-large alarms-form-action-controls-up" type="button"><i class="icon-arrow-up"></i></button>
    <button class="btn btn-large btn-danger alarms-form-action-controls-remove" type="button"><i class="icon-remove"></i></button>
    <button class="btn btn-large alarms-form-action-controls-down" type="button"><i class="icon-arrow-down"></i></button>
  </div>
  <div class="dropdown">
    <button class="btn btn-large btn-warning dropdown-toggle alarms-form-action-controls-severity" type="button"><i class="icon-bell"></i></button>
    <ul class="dropdown-menu">
      <li><a class="severity severity-debug" data-severity="debug">DEBUG</a>
      <li><a class="severity severity-info" data-severity="info">INFO</a>
      <li><a class="severity severity-success" data-severity="success">SUCCESS</a>
      <li><a class="severity severity-warning" data-severity="warning">WARNING</a>
      <li><a class="severity severity-error" data-severity="error">ERROR</a>
    </ul>
  </div>
</div>
