<div class="alarms-details-action-message">
  <h5><%- t('alarms', 'ACTION_MESSAGE_HEADER:'+type) %></h5>
  <p><%- t('alarms', 'ACTION_DETAILS_MESSAGE', {delay: delay, users: parameters.users}) %></p>
  <pre><%= parameters.text %></pre>
</div>
