.analytics-charts-controls {
  margin-bottom: 1em;
}
.analytics-charts-controls label {
  margin-left: 1em;
  font-weight: bold;
}
.analytics-charts-controls .btn-primary {
  margin-left: 1em;
}
.analytics-charts-controls label:first-child {
  margin-left: 0;
}
.analytics-charts-controls input[name="from"],
.analytics-charts-controls input[name="to"] {
  width: 10em;
  text-align: center;
}
.analytics-charts-plot {
  position: relative;
}
