<form class="input-append page-action-filter">
  <input class="span2" type="text" name="filter" autofocus <% if (typeof placeholder !== 'undefined') { %>placeholder="<%= placeholder %>"<% } %>>
  <button class="btn btn-primary" type="submit"><%- t('core', 'PAGE_ACTION_FILTER') %></button>
</form>
