<div class="page">
  <div class="hd">
    <div class="navbar navbar-fixed-top"></div>
    <div class="page-alerts"></div>
    <div class="page-header">
      <ul class="page-actions"></ul>
      <ul class="page-breadcrumbs"></ul>
    </div>
  </div>
  <div class="bd"></div>
  <div class="ft">
    <p>
      by <a href="http://walkner.pl/">walkner.pl</a>
    </p>
  </div>
</div>
